body{
    font-family: 'Poor Story', cursive;
}

a:link{
    color: #88f3ff
}
a:visited{
    color: #88f3ff
}
a:hover{
    color:pink
}

a:active{
    color:pink
}

.head_indent{
    width:1000px;
    height:100px;
}

.wrapper{
    float:left;
    flex-wrap:wrap;
    display:flex;
    width: 100vw;
    /* background-color: aliceblue; */
}


.side_bar{
    border:1px solid pink;
    width:130px;
    height:330px;
    display: flex;
    float:left;
    position:sticky;
    top:28%;
    flex-direction: column;
    padding-top:28px;
    left:0%;

}

.button_box{
    width:90px;
    height:90px;
    /* border:1px solid pink; */
    display: flex;
    /* display:inline; */
    flex-direction: column;
    margin:5px auto;
    text-align: center;
    
}

.card_wrapper{
    
    display:flex;
    float:left;
    margin: 0 150px;
    border:1px solid pink;
    border-radius: 3px;
    padding:0 auto;
}
.card_inner_wrapper{
    
    padding:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.card{
    width:300px;
    height:310px;
    border:1px solid white;
    border-radius: 2px;
    float:left;
    margin:10px;
    justify-content: center;
    position:relative
}

.card_tag{
    position:absolute;
    width: 300px;
    height:95px;
    background-color: whitesmoke;
    border-radius: 2px;
    bottom:0;
}
.card_title{
    color:black;
    font-weight: bold;
    position:relative;
    top:5%;
    left:3%;
    font-size:1.1rem;
    display: flex;
    justify-content: space-between;
}
/* .card_second_row{
    position:fixed;
    top:3%;
    left:3%;

}
.card_third_row{
    position:relative; */
/* 
} */

.card_tag p{
    font-size: 0.8rem;
    color:black;

}

