{% extends 'base.html' %}

{% block css %}
{% load static %}
<link href="{% static 'base.css' %}" rel="stylesheet">
<link href="{% static 'art.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='head_indent'></div>
<div class='card_wrapper'>
    <div class='card_inner_wrapper'>
        <div class='card'></div>
        <div class='card'></div>
        <div class='card'></div>
        <div class='card'></div>
        <div class='card'></div>
        <div class='card'></div>
    </div>
</div>


{% endblock %}