{% extends 'base.html' %}

{% block css %}
{% load static %}
<link href="{% static 'base.css' %}" rel="stylesheet">
<link href="{% static 'art.css' %}" rel="stylesheet">
<link href="{% static 'application.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='head_indent'></div>
<div class='wrapper'>
    <div class='side_bar'>
        <div class='button_box'>
            <a href="/staff/dasboard"><div style='font-size:3rem'><i class="fa fa-user-female"></i></div>
            <div>대시보드</div></a>
        </div>
        <a href="/staff/static"><div class='button_box'>
            <div style='font-size:3rem'><i class="fa fa-photo"></i></div>
            <div>작가 통계</div></a>
        </div>
        <a href="/staff/application"><div class='button_box'>
            <div style='font-size:3rem'><i class="fa fa-edit"></i></div>
            <div>작가 등록 신청내역</div></a>
        </div>


    </div>
    <div class='try'></div>
    <table class="tg">
        <thead>
            <tr>
                
                <th class="tg-0pky">id</th>
                <th class="tg-0pky">이름</th>
                <th class="tg-0pky">전체 작품 갯수</th>
                <th class="tg-0pky">100호 미만(개)</th>
                <th class="tg-0pky">100호 이상(개)</th>
                <th class="tg-0pky">작품 평균 가격</th>
                <th class="tg-0lax">작품 최저 가격</th>
                <th class="tg-0lax">작품 최고 가격</th>
            </tr>
        </thead>
        <tbody>
            {% for artist in artists %}
            <tr>
                
                <td class="tg-phtq">{{ artist.user_id }}</td>
                <td class="tg-phtq">{{ artist.name }}</td>
                <td class="tg-phtq">{{ artist.art_count.all_arts }}</td>
                <td class="tg-phtq">{{ artist.art_count.under_100 }}</td>
                <td class="tg-phtq">{{ artist.art_count.over_100 }}</td>
                <td class="tg-phtq">{{ artist.price.avg }}</td>
                <td class="tg-hmp3">{{ artist.price.min_n }}</td>
                <td class="tg-hmp3">{{ artist.price.max_n }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}