{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login | Gallery </title>

    <link href="{% static 'signup.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        body{
            background-color: #080615;
            color: #766dff 
        }

    </style>

</head>
<body>
    <div class='signup_box'>
        <form action="{% url 'gallery_token' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="signup_div">
                <h2>로그인</h2>
                <div class='input_box'>
                    <label for="username">닉네임</label>
                    <input class="form-control" id="username" type="text"name="username" placeholder="닉네임을 입력하세요"/>
                </div>
                <div class='input_box'>
                    <label for="password">비밀번호</label>
                    <input class="form-control" id="password" type="password" name="password" placeholder="비밀번호"/>
                </div>
            </div>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <div >
            <button type='submit' class='submit'>submit</button>
        </form>
    </div>
</body>
</html>
