{% extends 'base.html' %}


{% block title %}artist{% endblock %}

{% block css %}
{% load static %}
<link href="{% static 'base.css' %}" rel="stylesheet">
<link href="{% static 'art.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class='head_indent'></div>
<h1> 작가 조회 </h1>
<div class='wrapper'>
    <div class='side_bar'>
        <div class='button_box'>
            <a href="/user/artist"><div style='font-size:3rem'><i class="fa fa-user-female"></i></div>
            <div>작가 조회</div></a>
        </div>
        <a href="/user/art"><div class='button_box'>
            <div style='font-size:3rem'><i class="fa fa-photo"></i></div>
            <div>작품 조회</div></a>
        </div>
        <a href="/user/apply"><div class='button_box'>
            <div style='font-size:3rem'><i class="fa fa-edit"></i></div>
            <div>작가 등록</div></a>
        </div>
    </div>
    <div class='try'></div>
    <div class='card_wrapper'>
        <div class='card_inner_wrapper'>
            {% for artist in artists %}
            <div class='card' style="background-image: url('..{{ artist.image }}')">
                <div class='card_tag' style='height:60px'>
                    <div class='card_title'>{{ artist.name }}<div class='art_num'><p><{{ artist.art_num }}></p>&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}